<div class="modal fade " id="delTopicModal{{ topic.id }}" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content  text-white" style="background: #928f8f;">
        <div class="modal-header">
          <h5 class="modal-title " id="delTopicModalLabel{{ topic.id }}"><small>Delete Confirmation</small></h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">  
          <small>Remove delete {{topic.title}} from database ?</small>                                 
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          <form method="post" action="{{url_for('study.review_topic')}}">
            <input id="topic_delete" name="topic_delete" type="hidden" value="{{topic.id}}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

        </div>
      </div>
    </div>
  </div>