
<!-- delete_user modal -->
<div class="modal fade " id="deleteUserModal{{ user.id }}" tabindex="-1" aria-labelledby="deleteUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content  text-white" style="background: #928f8f;">
        <div class="modal-header">
          <h5 class="modal-title " id="deleteUserModalLabel{{ user.id }}">Delete Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>

        <div class="modal-body">          
          Permanently delete {{user.username}} from database ?                   
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          
          <form method="post" action="{{url_for('adm.admin_books')}}">
            <input id="user_delete" name="user_delete" type="hidden" value="{{user.id}}">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>

        </div>
      </div>
    </div>
  </div>


