{% extends 'includes/base.html' %}
{% block title %}Add-topic_page{% endblock %}

{% block content %}
    <div class="add-content p-3 rounded-3 w-75  m-auto text-white" >
        <h4><small>Add topic</small></h4>
        <form class="text-center p-3 rounded-3" id="addTopicForm" method="POST" action="{{url_for('study.create_topic')}}">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label for="topicTitle">Topic Title*</label>
                        <input class="" type="text" id="topicTitle" name="topicTitle" placeholder="e.g., Area formula" required>
                    </div>
                    
                    <div class="form-group">
                        <label for="topicDescription">Description</label>
                        <textarea class="form-control"  id="topicDescription" name="topicDescription" placeholder="Brief description of topic" rows="3" ></textarea>
                    </div>
                    
                </div>

                <div class="col-6">
                    <div class="form-group mb-5">
                        <label for="topicCategory">Category</label>
                        <select class="form-select w-50 m-auto" id="topicCategory" name="topicCategory">
                            <option value="Computing">Computing</option>
                            <option value="science">Science</option>                       
                            <option value="mathematics">Mathematics</option>
                            <option value="other">Other</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="topicDifficulty" style="color: white">Difficulty</label> 
                        <select class="form-select w-50 m-auto" id="topicDifficulty" name="topicDifficulty">
                            <option value="beginner">Beginner</option>
                            <option value="intermediate">Intermediate</option>
                            <option value="advanced">Advanced</option>
                        </select>
                    </div>
                </div>              
            </div>                      
            
            <div id="cardContainer border" >
                <div class="card mb-3 text-white rounded" style="background: #404045;">
                    <div class="card-body ">
                        <del class="text-success"><p class="text-success">Note: Suggest possible study areas you want to learn about the topic <br>
                           Note: these can be used to prompt the AI in the review section
                        </p></del>
                        <h5 class="card-title">Quiz-Card</h5>
                        <div class="form-group mb-3 ">
                            <!-- <label class="form-label">Question</label> -->
                            <textarea class="form-control" id="crd-quiz"  name="card-question" ></textarea>
                        </div>
                        <!-- <div class="form-group col-6">
                            <label class="form-label">Answer</label>
                            <textarea class="form-control" id="crd-answer"  name="card-answer" ></textarea>
                        </div> -->
                    </div>
                </div>
            </div>
        
            <input type="submit" class="text-white w-50 m-auto rounded-3 p-2 sbt"  value="create">
        </form>
    </div>

     
    
{% endblock %}