/* landscape tablets n landscape phones */
@media (max-width: 1280px) { 
    #side.move{
        transform: translate(200px, 35vh);
    }
}

@media (max-width: 926px) {
    #fix{
      display: none;
    }
    #bmw h4, #merc h4, #audi h4{
        font-size: 20px;
    }
    .fixed-large{
        position: absolute;
    }
    .payment-form{
        width: 600px;
    }
    #side{ 
        display: none;    
    }
    #mainContent{
        /* margin-left: auto; */
        margin-left: 25px;
    }
    
}
@media (min-width: 761px) and (max-width: 854px) {
    #bmw h4, #merc h4, #audi h4{
        font-size: 15px;
    }
    #side{ 
        display: none;    
    }
    #mainContent {
        transition: none; 
        margin-left: auto; 
    }
}
@media (max-width: 760px) {
    #bmw h4, #merc h4, #audi h4{
        font-size: 17px;
    }
    #side{ 
        display: none;    
    }
   
}
@media (max-width: 480px) {
    #bmw h4, #merc h4, #audi h4{
        font-size: 15px;   
        margin-right: auto;     
    }
    .navbar-collapse {
        position: fixed;
        top: 0;
        right: 0;
        width: 70%;
        max-width: 250px; /* Adjust as needed */
        height: 0;
        z-index: 2;
        padding-top: 3.5rem; /* Adjust according to navbar height */
        transition: all 0.3s ease;
        background-color: #333;  
    }
  
    .navbar-collapse.show {
        height: 100vh;
    }

    .cust-m{
        margin-top: 30vh;
    }

    .navbar-nav {
        flex-direction: column;
    }
  
    .navbar-nav .nav-item {
     margin-right: 0;
    }
    #veh{
        overflow-x: auto;               
    }
    .payment-form,#container2{
        width: 325px;
    }
}